@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

* {
    font-family: "Jockey One", Roboto, Calibri, sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* pagina 1 */

.banner {
    background-image: url(./imagens/background.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: relative;
}


.banner img {
    display: none;
}


.texto-banner {
    position: absolute;
    top: 22%;        
    left: 30px;
    width: 45%;
    color: white;
}

.texto-banner h2 {
    font-size: 3.2em;
}

.texto-banner p {
    font-size: 1.2em;
    margin-top: 20px;
}


.nome-grupo {
    position: absolute;
    top: 20px;
    left: 40px;
    font-size: 2em;
    color: aqua;
}


.texto-auxiliar {
    position: absolute;
    top: 60%;      
    left: 30px;
    width: 45%;
    font-size: 1.2em;
    color: aqua;
}


.botao {
    position: absolute;
    top: 75%;       
    right: 20%;
    
}

.botao button:hover {
    transform: translateY(-10px);
}

.botao button {
    padding: 12px 80px;
    margin: 8px;
    font-size: 1.4em;
    color: aqua;
    border: 3px solid aqua;
    background-color: rgba(87, 208, 238, 0.2);
    border-radius: 30px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

