@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

* {
    font-family: "Jockey One", Roboto, Calibri, sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* pagina 1 */
.banner {
    background-image: url(./imagens/background.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: relative;
}


.banner img {
    display: none;
}



.texto-banner {
    position: absolute;
    top: 280px;       
    left: 3%;         
    width: 45%;       
    color: white;
}

.texto-banner h2 {
    font-size: 3.2rem;
    line-height: 1.15;
}

.texto-banner p {
    margin-top: 20px; 
    font-size: 1.25rem;
    line-height: 1.4;
}



.nome-grupo {
    position: absolute;
    top: 20px;        
    left: 3%;
    font-size: 2.2rem;
    color: aqua;
}



.texto-auxiliar {
    position: absolute;
    top: 620px;        
    left: 3%;
    width: 45%;
    color: aqua;
    font-size: 1.2rem;
    line-height: 1.4;
}



.botao {
    position: absolute;
    top: 750px;       
    right: 15%;        
}

.botao button {
    padding: 12px 70px;
    margin: 10px;
    font-size: 1.4rem;
    color: aqua;
    border: 3px solid aqua;
    background-color: rgba(87, 208, 238, 0.2);
    border-radius: 30px;
    cursor: pointer;
    transition: 0.4s ease;
}

.botao button:hover {
    transform: translateY(-10px);
}
