@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');


* {
    font-family: "Jockey One", Roboto, Calibri, sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* pagina 1 */

.banner  {
    background-image: url(./imagens/background.png);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    


}
.texto-banner {
    position: absolute;
    margin-top: 300px;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 40%;
    
    
    


}

.texto-banner h2{
    font-size: 3.8em;

}

.texto-banner p{
    font-size: 1.3em;
    margin-top: 30px;
   
    

}

.nome-grupo {
    position: absolute;
    margin-top: 10px;
    margin-left: 40px;
    font-size: 2.2em;
    color: aqua;


}

.botao {
    position: absolute;
    margin-top: 900px;
    margin-left: 950px;
    &:hover{
        transition: all .5s ease-in-out;
        transform: translateY(-15px);

    }
    
    
    
    
    
    
}

.botao button{
    padding: 10px;
    padding-right: 100px;
    padding-left: 100px;
    margin: 10px;
    color: aqua;
    font-size: 1.5em;
    border-color: aqua;
    border: 3px solid ;
    background-color: rgba(87, 208, 238, 0.2);
    border-radius: 30px;
    cursor: pointer;
    
    
}

.texto-auxiliar{
    margin-top: 800px;
    position: absolute;
    color: aqua;
    margin-left: 30px;
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    text-align: left;
   
}
