@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

* {
    font-family: "Jockey One", Roboto, Calibri, sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden;
    max-width: 100vw; 
}

/* pagina 1 */
.banner {
    background-image: url(./imagens/background.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    position: relative;
}


.banner img {
    display: none;
}



.texto-banner {
    position: absolute;
    top: 280px;       
    left: 3%;         
    width: 45%;       
    color: white;
}

.texto-banner h2 {
    font-size: 3.2rem;
    line-height: 1.15;
}

.texto-banner p {
    margin-top: 20px; 
    font-size: 1.25rem;
    line-height: 1.4;
}



.nome-grupo {
    position: absolute;
    top: 20px;        
    left: 3%;
    font-size: 2.2rem;
    color: aqua;
}



.texto-auxiliar {
    position: absolute;
    top: 620px;        
    left: 3%;
    width: 45%;
    color: aqua;
    font-size: 1.2rem;
    line-height: 1.4;
}



.botao {
    position: absolute;
    top: 600px;       
    right: 15%;        
}

.botao button {
    padding: 12px 70px;
    margin: 10px;
    font-size: 1.4rem;
    color: aqua;
    border: 3px solid aqua;
    background-color: rgba(87, 208, 238, 0.2);
    border-radius: 30px;
    cursor: pointer;
    transition: 0.4s ease;
}

.botao button:hover {
    transform: translateY(-10px);
}

/* PAGINA 2 */
.pagina2 {
    background-color: #0b1120;
    width: 100%;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagina2 .nome-grupo {
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
}

.conteudo-pagina2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 40px;
    width: 100%;
    max-width: 1200px;
}

.projeto img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-top-right-radius: 30%;
    &:hover{
        transform: translateY(-10px);
    }
}

.explicar {
    color: #ffffff;
    text-align: left;
}

.explicar h1 {
    color: #22e6ff;
    margin: 0 0 15px 0;
    line-height: 1.3;
    text-align: left;
}


.explicar h2 {
    color: #22e6ff;
    margin: 20px 0 10px 0;
    text-align: left;
}

.explicar p {
    margin: 10px 0;
    line-height: 1.5;
    text-align: left;
}

.explicar ul {
    margin: 10px 0 20px 20px;
    text-align: left;
}

.explicar li {
    margin: 8px 0;
    line-height: 1.4;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
    text-align: left;
}