@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

* {
    font-family: "Jockey One", Roboto, Calibri, sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.banner img {
    background-image: url(./imagens/background.png);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    


}
.texto-banner {
    position: absolute;
    top: 20%;
    color: white;
    text-align: left;
    width: 40%;
    margin-left: 30px;
    
    
    


}

.texto-banner h2{
    font-size: 3.8em;

}

.texto-banner p{
    font-size: 1.3em;
    margin-top: 30px;

}

.nome-grupo {
    position: absolute;
    top: 10px;
    left: 40px;
    font-size: 2.2em;
    color: aqua;


}

.botao {
    position: absolute;
    top: 80%;
    right: 15%;
    
    
    
    
}

.botao button{
    padding: 10px;
    padding-right: 100px;
    padding-left: 100px;
    margin: 10px;
    color: aqua;
    font-size: 1.5em;
    border-color: aqua;
    border: 3px solid ;
    background-color: rgba(87, 208, 238, 0.2);
    border-radius: 30px;
    
}
